<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Alex Vallejo's Personal Website - {{ page.title }}</title>
    <meta name="author" content="Alex Vallejo" />
      <meta name="keywords" content="computer engineering, alex vallejo, personal website, university of pittsburgh" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700" rel="stylesheet" />
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
    {% if page.active-page == blog %}
    <script src="../js/config.js"></script>
    <script src="../js/skel.min.js"></script>
    <script src="../js/skel-panels.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="../css/skel-noscript.css" />
      <link rel="stylesheet" href="../css/style.css" />
      <link rel="stylesheet" href="../css/style-desktop.css" />
    </noscript>
    {% else %}
    <script src="js/config.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-panels.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel-noscript.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-desktop.css" />
    </noscript>
    {% endif %}
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->

  </head>
  <body>
  <!--Google Plus Authorship Tag-->
  <a href="https://plus.google.com/107417437373730684602?rel=author"></a>
    <!-- Header -->
    
      <header id="header">
        <div class="logo">
          <div>
              {% if page.header-text != null %}
              <h1>{{ page.header-text }}</h1>
              {% endif %}
          </div>
        </div>
      </header>
    <!-- /Header -->
    <!-- Nav -->
      <nav id="nav" class="skel-panels-fixed">
        <ul>
          {% if page.active-page == blog %}
          <li> <a href="../index.html">Welcome</a></li>
          <li> <a href="AlexVallejoResume.pdf">Resume</a> </li>
          <li> <a href="../about.html">About Me</a></li>
          <li> <a href="../projects.html">Projects</a></li>
          <li {% if page.active-page == "blog" %} class="current_page_item" {% endif %}><a href="./">Blog</a></li>
          {% else %}
          <li {% if page.active-page == "welcome" %} class="current_page_item" {% endif %}> <a href="index.html">Welcome</a></li>
          <li><a href="AlexVallejoResume.pdf">Resume</a></li>
          <li {% if page.active-page == "about" %} class="current_page_item" {% endif %}><a href="about.html">About Me</a></li>
          <li {% if page.active-page == "projects" %} class="current_page_item" {% endif %}><a href="projects.html">Projects</a></li>
          <li {% if page.active-page == "blog" %} class="current_page_item" {% endif %}><a href="blog/">Blog</a></li>
          {% endif %}
        </ul>
      </nav>
    <!-- /Nav -->

    {{ content }}

    <footer id="footer" class="container">
        <div class="row">
          <div class="12u">
            <!-- Contact -->
              <section>
                <ul class="contact">
                  <li><a href="https://www.facebook.com/alex.vallejo2" class="facebook" target="_blank">Facebook</a></li>
                  <li><a href="http://twitter.com/valleyy_jo" class="twitter" target="_blank">Twitter</a></li>
                  <li><a href="http://www.linkedin.com/in/alexvallejo1" class="linkedin" target="_blank">LinkedIn</a></li>
                  <li><a href="https://plus.google.com/107417437373730684602/posts" class="googleplus" target="_blank">Google+</a></li>
                </ul>
              </section>
            <!-- /Contact -->
          
          </div>
        </div>
        <div class="row">
          <!-- Copyright -->
            <div id="copyright">
              &copy; {{ site.time | date: '%Y' }} Alex Vallejo | Icons: <a href="http://iconify.it">Iconify.it</a> | Design: Alex Vallejo + <a href="http://html5up.net/">HTML5 UP</a>
            </div>
          <!-- /Copyright -->
        </div>
      </footer>
    <!-- /Footer -->
  </body>
</html>